html {
  background: #171836;
  color: white;
  font-family: "Inter";
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 40px;
}

/* sifuysudyfsydfgc */
.header {
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 44px;
  padding-left: 110px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  transition: color 0.2s ease;
}
.menu a:hover {
  color: white;
}

.button {
  background: #f5443b;
  border-radius: 6px;
  width: 102px;
  height: 41px;
  left: 1218px;
  font-size: 20px;
}

.header .button {
  margin-left: auto;
}

.fs {
  display: flex;
  justify-content: space-between;
}
.fs__foto {
  position: relative;
  max-width: 50%;
  background: url(4d2310a8a4fb67d7030541292ab3b6aaa479d650_s2_n1.png);
}

.fs__title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 56px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: -0.01em;
}

.fs__text {
  color: rgba(255, 255, 255, 0.4);
  font-size: 18px;
  font-style: normal;
  padding-top: 25px;
}

.all {
  display: flex;
  justify-content: space-between;
  padding-bottom: 103px;
  padding-top: 60px;
}

.group {
  display: flex;
  align-items: flex-start;
  width: 33.333%;
}

.group__info {
  padding: 20px 20px 0 7px;
}

.group__title {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  margin-bottom: 23px;
  font-weight: 600;
  line-height: 150%;
}
.group__text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 170%;
}

.question {
  padding-top: 63px;
  padding-bottom: 83px;
}

.learn_title {
  color: white;
  text-align: center;
  width: 100%;
}

.learn-all {
  display: flex;
  align-items: center;
}
.learn_title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: rgba (255, 255, 255 0.8);
}

.item {
  display: flex;
  justify-content: center;
  min-height: 500px;
  align-items: flex-start;
}
.flame_img {
  position: relative;
  align-items: center;
  max-width: 252px;
  margin-bottom: 19px;
}
.flame1 {
  box-sizing: border-box;
  padding: 12px 12px 20px 12px;
  color: white;
  background: linear-gradient(
    180deg,
    #202246 -53.38%,
    rgba(40, 43, 87, 0.17) 100%
  );
  border-radius: 20px;
  max-width: 276px;
}
.flame1 :hover {
  display: flex;
}
.Technology {
  color: #3bf5bd;
  font-size: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
}
.all_flame h4 {
  padding: 8px 0 13px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}
.bottom {
  position: absolute;
  display: flex;
  height: 387px;
  left: 0px;
  top: 2272px;
}
.footer {
  position: relative;
  display: flex;
  height: 19px;
  width: 75px;
  top: 338px;
}
