html {
  background: #171836;
  color: white;
  font-family: "Inter";
  
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 40px;
}

/* start header */
.header {
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 44px;
  padding-left: 110px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  transition: color 0.2s ease;
}
.menu a:hover {
  color: white;
}

.button {
  background: #f5443b;
  border-radius: 6px;
  width: 102px;
  height: 41px;
  left: 1218px;
  font-size: 20px;
}
@media (max-width: 991px) {
  .button {
    padding-right: 0px;
    left: 575px;
  }
}
@media (max-width: 575px) {
  .button {
    padding-right: 0px;
    left: 575px;
  }
}

.header .button {
  margin-left: auto;
}
@media (max-width: 991px) {
  .header .button {
    padding-right: 0px;
  }
}
@media (max-width: 575px) {
  .header .button {
    padding-right: 0px;
  }
}

/* finish header */

/* start fs*/
.container_fs {
  
  display: flex;
  justify-content: space-between;
  padding-bottom: 300px;
  box-sizing: border-box;
}
.info_fs {
  display: flex;
  justify-content: space-between;
}
.info_fs h1{
  margin: 50px;
  padding-left: 100px;
}
.fs__foto {
  position: relative;
  max-width: 50%;
  top: 5px;
  
  z-index: 0;
  background: url(4d2310a8a4fb67d7030541292ab3b6aaa479d650_s2_n1.png);
}
@media (max-width: 991px) {
  .fs__foto {
     display: none;
  }
 
}
@media (max-width: 575px) {
  .fs__foto {
  display: none;
}
}

.girl {
  width: 150%;
}

.fs_content {
  max-width: 42%;
  align-items: center;
  position: relative;
  flex: 1 0 42%;
}

.fs__title {
  color: rgba(255, 255, 255, 0.8);
  
  font-size: 56px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: -0.01em;
  
}
@media (max-width: 991px) {
  .fs__title {
    font-size: 28px;
  }
  
}
@media (max-width: 575px) {
  .fs__title {
    font-size: 14px;
    align-items: center;
  }
}

.fs__text {
  color: rgba(255, 255, 255, 0.4);
  font-size: 18px;
  font-style: normal;
  padding-left: 155px;
}

/* finish fs */

.all {
  display: flex;
  justify-content: space-between;
  padding-bottom: 103px;
  padding-top: 60px;
}

.group {
  display: flex;
  align-items: flex-start;
  width: 33.333%;
}

.group__info {
  padding: 20px 20px 0 7px;
}

.group__title {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  margin-bottom: 23px;
  font-weight: 600;
  line-height: 150%;
}
.group__text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 170%;
}

/* question start*/

.question {
  padding-top: 63px;
  padding-bottom: 83px;
}

.learn_title {
  color: white;
  text-align: center;
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
}
.learn_text {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);

}

.item {
  background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.17) 100%);
  border-radius: 20px;
  color: white;
  max-width: 276px;
  padding: 12px 12px 20px 12px;
  box-sizing: border-box;
  justify-content: center;
}

.learn-all{
  display: flex;
  justify-content: space-between;
  min-height: 500px;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 12px 12px 20px 12px;
  color: white;
  background: linear-gradient(
    180deg,
    #202246 -53.38%,
    rgba(40, 43, 87, 0.17) 100%
  );
  border-radius: 20px;
  max-width: 276px;
}
.item_img {
  position: relative;
  align-items: center;
  max-width: 252px;
  margin-bottom: 19px;
}

.item_img:hover {
  display: flex;
}
.item-img span {
  position: absolute;
  bottom: 13px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  left: 10px;
  padding: 6px 16px;
  font-size: 12px;
  line-height: 150%;
  color: white;

}
.Technology {
  color: #3bf5bd;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
}
.item p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}
  

.learn-all h4 {
  padding: 8px 0 13px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.mentor {
  padding-top: 17px;
  display: flex;
}
.mentor_name {
  margin-left: 14px;
}
.mentor_name h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}
.mentor_name span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}
.learn_button {
  padding-top: 25px;
  display: none;
  justify-content: center;
}
.learn_button a {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 12px 32px;
  background: #F5443B;
  border-radius: 6px;
  text-decoration: none;
}

.learn_button a:hover {
  background: rgb(189, 54, 47);

}

.bottom {
  position: absolute;
  display: flex;
  height: 387px;
  left: 0px;
  top: 2272px;
}
.bot p{
  font-size: 16px;
  line-height: 170%;
  color: rgba(255, 255, 255, 0.8);

  opacity: 0.6;
}
.social {
  
  justify-content: center;
  padding-right: 100px;
  margin-top: 20px;
  align-items: center;


}
.footer {
  text-align: center;
  color: #8F91D0;
  font-size: 16px;
  line-height: 19px;
  padding: 220px 0 30px 0;
  
}
